@charset "utf-8";

.aui-panel {
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 1px 0 1px 1px rgba(0,0,0,0.05);
    box-sizing: border-box;
    border-color: #ddd;
}

.aui-panel-head {
    background-color: #fff;
    padding: 10px 15px;
}

.aui-panel-title {
    color: #337ab7;
    font-size: 18px;
    font-weight: bold;
}

.aui-panel-body {
    padding: 15px;
}

.aui-class, .aui-array {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 1px 0 1px 1px rgba(0,0,0,0.05);
    box-sizing: border-box;
    border-color: #ddd;
}

.aui-class-head, .aui-array-head {
    background-color: #fff;
    padding: 10px 15px;
}

.aui-class-title, .aui-array-title {
    color: #337ab7;
    font-size: 18px;
    font-weight: bold;
}

.aui-class-body, .aui-array-body {
    padding: 15px;
}

.aui-auto-row {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
}

.aui-auto-row-title {
    flex: 1;
    padding-right: 5px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
    max-width: 90px;
}

.aui-auto-row-content {
    flex: 9;
}

.aui-timespan {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 30px;
    padding: 1px 8px 1px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.aui-timespan-active {
    outline: 0;
    border-color: #66afe9;
}

.aui-timespan input {
    border: 0px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    display: table-cell;
    height: 100%;
    outline: 0;
    font: 400 13.3333px Arial;
    font-size: 14px;
    color: #555;
}

.aui-extend-menu {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAlElEQVQ4T+2TwQ0CMQwEdyuAEq4EOiHu5KiAUAHpJKYTSjg6oINFjvxA90K6D4/Ly7LXI6/lEBsfN/ZjBwAspZwA3AEsAC7u/o7FZv6aS765+zPzx9RPoaeZRcMhipJCWCM2MwdwTsCj914SUEkOsKRlDYgJ2q8AAK9hgWQLGoD52wLJMY2kurLQSE6S5v0O8Ad/4QN6AkXzMRUukwAAAABJRU5ErkJggg==);
    width: 30px;
    height: 20px;
    display: inline-block;
    float: right;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
}
.aui-extend-menu:hover {
    border: 1px solid #66afe9;
}
.aui-extend-menu:hover .aui-extend-menu-options {
    display: block;
}
.aui-extend-menu-header {
    display: inline-block;
    color: #888;
    margin: 0;
    padding: 8px;
    line-height: 16px;
}
.aui-extend-menu-options {
    position: fixed;
    display: none;
    padding: 5px 10px;
    background: #fff;
    min-width: 50px;
    max-height: calc(100% - 80px);
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 1px 0 1px 1px rgba(0,0,0,0.05);
}
.aui-extend-menu-option {
    color: #666;
    background-color: transparent;
    padding: 5px 10px;
    margin: 0 !important;
}
.aui-extend-menu-unactive {
    color: #bbb;
    background-color: transparent;
    padding: 5px 10px;
    margin: 0 !important;
}
.aui-extend-menu-separator {
    border-color: #ddd;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 7px 0 !important;
}
.aui-extend-menu-option:hover {
    color: #fff;
    background-color: #08f;
}
.aui-extend-menu-option:active {
    color: #666;
    background: transparent;
}