@charset "utf-8";

.wf-canvas {
    width: 100%;
    height: 100%;
    position: relative;
}
.wf-theme-gray {
    border: 1px solid #ccc;
    background: #fafafa;
}
.wf-theme-black {
    border: 1px solid #383838;
    background: #383838;
}

.wf-svg {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
.wf-activity {
    width: 130px;
    height: 65px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    text-align: center;
    line-height: 30px;
}
.wf-theme-gray .wf-activity {
    border: 1px solid #ccc;
    background: #fff;
}
.wf-theme-black .wf-activity {
    border: 1px solid #535458;
    background: #3f4044;
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.3);
}
.wf-activity:hover {
    border: 1px solid #66afe9;
}
.wf-activity-selected {
    border: 1px solid #66afe9 !important;
}

.wf-activity-title {
    height: 30px;
    line-height: 30px;
    color: midnightblue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
}
.wf-theme-black .wf-activity-title {
    color: #a7a8aa;
}

.wf-activity-content {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
}
.wf-theme-black .wf-activity-content {
    color: #a7a8aa;
}

.wf-anchor-container {
    
}

.wf-anchor {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: crosshair;
    z-index: 10;
}
.wf-theme-gray .wf-anchor {
    border: 1px solid #ccc;
    background: #fff;
}
.wf-theme-black .wf-anchor {
    border: 1px solid #5a5a5a;
    background: #474747;
}
.wf-anchor:hover {
    border: 1px solid #66afe9;
}

.wf-theme-gray .wf-arrow-brush {
    fill: #ccc;
}
.wf-theme-black .wf-arrow-brush {
    fill: #606060;
}

.wf-theme-gray .wf-link-brush {
    stroke: #ccc;
}
.wf-theme-black .wf-link-brush {
    stroke: #606060;
}

.wf-link-selected-brush {
    stroke: #66afe9 !important;
}