/*------------combox--------------*/
.combox-header {
    position: absolute;
    width: 90px;
    border-radius: 4px 0 0 4px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid #ccc;
    margin: 1px 0 1px 1px;
    height: 28px;
    padding-left: 8px;
}
.combox-header:focus {
    outline: 0;
}
.combox-header:focus+input {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.combox-input {
    width: 350px;
    padding-left: 98px;
}