<!doctype html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>OAuth</title>
        <link rel="stylesheet" type="text/css" href="/static/css/frame.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/simple-img.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/simple-style.css" />
        
        <script type="text/javascript" charset="utf-8" src="/static/js/jquery.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/js/route.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/js/core.js"></script>
        <style>
            .sm-button { margin-left: 10px; padding: 4px 12px; vertical-align: top; }
            .sm-label { margin-left:25px; width: 80px; float: left; padding-top: 7px; text-align: right; }
            .sm-control { width:300px; }
            .form-horizontal { margin-bottom: 5px;}
        </style>
	</head>
	<body style="width: 550px;">
		<div class="container-fluid">
			<div class="panel" style="width: 100%;">
				<div class="panel-heading">
					<span class="panel-title"></span>
				</div>
				<div class="panel-body">
                    <div class="fieldset mb20 pb15">
                        <div class="legend"></div>
                        <div class="form-horizontal">
                            <span class="sm-label">原密码(*)：</span>
                            <input id="input_old_password" type="password" class="control-input sm-control">
                        </div>
                        <hr class="mt10 mb15">
                        <div class="form-horizontal">
                            <span class="sm-label">新密码(*)：</span>
                            <input id="input_new_password" type="password" class="control-input sm-control">
                        </div>
                        <div class="form-horizontal">
                            <span class="sm-label">确认密码(*)：</span>
                            <input id="input_affirm_password" type="password" class="control-input sm-control">
                        </div>
                    </div>
                    <a id="btn_query" onclick="changePassword()" class="control-button btn-info sm-button" style="margin-left: 180px;"><i class="icon-pencil icon-white"></i> 修改</a>
				</div>
			</div>
        </div>

        
        <script>
            function changePassword() {
                let inputOldPass = $('#input_old_password');
                let inputNewPass = $('#input_new_password');
                let inputAffPass = $('#input_affirm_password');
                if (inputOldPass.val() == '') {
                    alert('原密码不能为空！');
                    return;
                }
                if (inputNewPass.val() == '') {
                    alert('新密码不能为空！');
                    return;
                }
                if (inputAffPass.val() == '') {
                    alert('确认密码不能为空！');
                    return;
                }
                if (inputAffPass.val() != inputNewPass.val()) {
                    alert('确认密码不正确！');
                    return;
                }
                let param = {
                    old_password: inputOldPass.val(),
                    new_password: inputNewPass.val()
                };
                Core.Account.ChangePassword(param, p => alert(p.data));
            }
        </script>
	</body>
</html>